- call_to_action = @question.id == 20 ? 'Vyhodnoť test' : 'Ďalšia otázka'

.container
  .counter
    .big-number= @question.id
    .slash= '/'
    .small-number 19


  %ul{ data: { controller: 'sortable' } }
    - @options.each do |option|
      %li.option.pill.pill__option{ data: { option_id: option.id } }= option.text

  = form_with model: @answer do |f|
    - @options.each do |option|
      = f.hidden_field :ordered_options_ids, multiple: true, value: option.id
      = f.hidden_field :question_id, value: @question.id
    - if @previous_question
      .half-pill
        = link_to '&larr;'.html_safe, @previous_question, class: 'left' if @previous_question
        = f.submit call_to_action, class: 'right'
    - else
      = f.submit call_to_action, class: 'pill pill__black'

