- if !user_authenticated?
  - invalid = @user.errors.include?(:nickname)

  = form_with model: @user do |f|
    = f.label :nickname
    = f.text_field :nickname
    = f.submit 'zacat kviz'
    - if invalid
      Sorko, ale toto meno uz dakto pouzil :(

  = link_to 'Chcem si pozriet vysledok', login_path
- else
  = "#{current_user.nickname},"
  je to cool vidieť Ťa v tejto sekcii aplikácie. Keďže tu však si, veríme, že ťa potešila a páči sa ti.
  Vďaka, že slúžiš mladým ľuďom tak, aby mohli spoznať Jeho.
