.cut-container.cut-container__left-cut
  - if !user_authenticated?
    - invalid = @user.errors.include?(:nickname)

    .intro-header
      %span Lev.
      %span Bobor.
      %span Zlatý retríver?
      %span Tuleň.

    = form_with model: @user, class: 'flex-column' do |f|
      - if invalid
        .label
          Nickname je už žiaľ obsadený. :(
      - else
        = f.label :nickname, class: 'label'
      = f.text_field :nickname, class: "pill pill__white pill__input #{'error' if invalid}"
      = f.submit 'Začať test', class: 'pill pill__black'

    = link_to 'Pozrieť si výsledok', login_path, class: 'small-link'
  - else
    .disclaimer
      .intro-header= "#{current_user.nickname},"
      .text
        nie je veľa tých, ktorým sa podarilo objaviť túto časť aplikácie.

        %p
          Keďže tu však si, tak Tebe špeciálne prajeme ešte príjemný zvyšok tréningu!
        %p
          Vďaka, že aj vďaka Tebe môžu mladí ľudia spoznávať Jeho.
